body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

#search-form {
  height: 60px;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #423831;
}

#search-form input[type='text'] {
  padding: 10px 15px;
  border: 2px solid #faebd7;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: #faebd7 ;
}

#search-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #faebd7;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #faebd7;
}

#search-form button:hover {
  background-color: #faebd7;
  color: #423831;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
}

.lightbox {
  position: relative;
  width: 250px;
}

.photo-card {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 2px solid #faebd7;
}

.photo-card img {
  max-width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.photo-card:hover img {
  transform: scale(1.05);
}

.photo-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.lightbox:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.info-item {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #faebd7;
  color: #faebd7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more:hover {
  background-color: #faebd7;
  color: #0f0f0f;
}

.form-elements {
  margin-top: 10px;
}
